
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #f7f1f3;
}


.main{
    background-image: url(https://i.pinimg.com/originals/ee/71/3e/ee713e1eb90601a2f02f32d88d679c68.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1400px, 100vw);
    height: 80vh;
    position: relative;

}
.main .box{
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
}
nav{
    max-width:  60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px; 
   
}



.hero{
    font-family: 'Times New Roman', Times, serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color : black;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1){
    font-family:  'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}


.hero> :nth-child(2){
    font-weight:400;
    font-size:24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight:400;
    font-size:24px;
    text-align: center;
}
.seperation{
    height: 7px;
    background-color: black;
    position: relative;
    z-index: 20;
}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: #1b4965;
    background-color: rgba(234, 224, 224, 0.2);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;

}
.btn-get{
    background-color: #1b4965;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    font-weight: 400;
   
}

.btn-sm{
    background-color: #1b4965;
    color: white;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 7px 100px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(7, 0, 0, 0.7);
    border:1px solid rgba(246, 244, 244, 0.5) ;
}
.first{
    display: flex;
    justify-content: center;
    max-width:70vw ;
    margin: auto;
    color: black;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}



.secimg{
    position: relative;
   

}
.secimg img{
    width: 350px;
    margin: 20px 50px 20px 50px;
    position:relative;
    z-index: 10;
    box-shadow: 6px 5px 15px #f2acac;
}


section.first >div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.first > div :nth-child(2){
    font-size: 24px;

}

.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    /* background-color: #31572c; */
    /* color: white; */
    padding: 34px;
    
}

.faqbox:hover{
    background-color:  #414141;;
    color: white;
}

.faqbox svg{
    filter: invert(1);
}

.faqbox{
    transition: all 1s ease-out;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;   
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;

}
footer{
    color: rgb(15, 1, 1);
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}




footer .question{
    padding: 34px 0;
    
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* color: white; */
}



@media screen and ( max-width: 1300px){
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secimg img{
        width: 240px;
        
        position:relative;
        z-index: 10;
    }
    
    .secimg video{
        
        width: 305px;
    }
    
    .hero> :nth-child(1){
        font-size: 32px;
    }
    
    .hero> :nth-child(2){
        font-size: 18px;
    }
    
    .hero> :nth-child(3){
        font-size: 18px;
    }
    
    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    
    .faq{
        text-align: center;
        font-size: 32px;
    }
    
    footer{
        max-width: 90vw;
    }
    
    .footer{
        align-items: center;
    }
}

@media screen and ( max-width: 1300px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 25px;
    }
    
}


.footer a{
    font-size: 14px;
    color: black;
    /* text-decoration: none; */
}



.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
   
}

